@import url(https://fonts.googleapis.com/css?family=Kristi:regular);

@font-face {
  font-family: Kristi;
  src: url(https://fonts.googleapis.com/css?family=Kristi:regular);
}
h1{
text-align: center;
font-family: Kristi;
color: rgb(68, 63, 57);
}
body{
  background-color: rgb(209, 199, 184);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e5e2e2;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #9d9a9a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 1000px;
}
.openbtn:hover {
  background-color: #444;
}
#main {
  transition: margin-left .5s;
  padding: 20px
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
#menu {
  text-align: center;
}
#about {
  text-align: center;
}
#contact {
  text-align: center;
}
.pizza {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


body {
  font-family: "Times New Roman", Georgia, Serif;
  
}
h1, h2, h3, h4, {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
