html, body {
  height: 100%;
  width: 100%;
}

h1{
  border-style: dashed;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-color: rgb(209, 199, 184);
}
img{
  width: 200px;
  height: 200px;
}